#requirement
pandas~=2.2.2
pytest~=8.2.2
scikit-learn~=1.5.0
Django==3.2.12
djangorestframework==3.12.4
django-cors-headers==3.7.0
requests==2.26.0
pytest-django==4.4.0
pytest-mock==3.6.1
mock==4.0.3
pandas==1.4.2
matplotlib==3.5.1
seaborn==0.11.2
