.error {
    color: rgb(255, 127, 80);
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    border: 2px solid rgb(65, 105, 225);
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    box-sizing: border-box;
    margin-left: 10px;
}

.button {
    background-color: #f0f0f0;
    border: 2px solid rgb(65, 105, 225);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #e0e0e0;
}
